# PostgreSQL
POSTGRES_DB=<any_db_name>
POSTGRES_USER=<any_db_user>
POSTGRES_PASSWORD=<any_db_password>
POSTGRES_DB_PORT=5432
POSTGRES_HOST=postgres_cinema_shop

# pgAdmin
PGADMIN_DEFAULT_EMAIL=<your_email|admin@admin.com>
PGADMIN_DEFAULT_PASSWORD=<any_password>

# JWT keys
SECRET_KEY_ACCESS=<any_key&32chars>
SECRET_KEY_REFRESH=<any_key&32chars>
JWT_SIGNING_ALGORITHM=<algorithm|HS256>

# Email notifications
# If the password contains spaces, replace them with the symbol |
SMTP_SERVER=<smtp_server>
SMTP_PORT=<int>
SMTP_USER=<email>
SMTP_PASSWORD=<smtp_password>

# Celery worker
CELERY_BROKER_URL=redis://redis:6379

# Stripe Keys and Urls
STRIPE_PRIVATE_KEY=<key>
STRIPE_WEBHOOK_KEY=<key>
STRIPE_SUCCESS_URL=<any_url>
STRIPE_CANCEL_URL=<any_url>
